{% extends 'auth_layout.html' %}
{% load crispy_forms_tags %}

{% block auth %}
<h1>QustionTime</h1>
<p class="lead text-muted">Share Your knowledge!</p>
<div class="login-form-container">
    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-sm btn-outline-primary">
            Login
        </button>
    </form>
    <p class="mt-2">Or 
    <a href="{% url 'django_registration_register' %}">Create an Account</a>
    </p>
</div>
{% endblock %}
