<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <p>Method - 1: {{ getRandomNumber() }}</p>
        <p>Method - 2: {{ getRandomNumber() }}</p>
        <p>Method - 3: {{ getRandomNumber() }}</p>
        <hr>
        <p>Method - 1: {{ getRandomComputed }}</p>
        <p>Method - 2: {{ getRandomComputed }}</p>
        <p>Method - 3: {{ getRandomComputed }}</p>
        <br>
        <h3>Full Name: {{ fullName }}
            <nav class="uk-navbar-container" uk-navbar>
            <div class="uk-navbar-left"></div>
            <div class="uk-navbar-center"></div>
            <div class="uk-navbar-right"></div>
        </nav></h3>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="main.js"></script>
</body>
</html>