<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Events and Methods</title>
    <style>
        .box {
            background: green;
            width: 300px;
            height: 300px;
        }
    </style>
</head>
<body>
    <div id="app">
        <h1>{{ lesson }}</h1>
        <br>
        <h3>Counter: {{counter}}</h3>
        <button v-on:click="incrementCounter">Increment ++</button>
        <br><br>
        <div class="box" @mouseover="overTheBox"></div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="main.js">
    </script>
</body>
</html>