<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Class and Style Binding</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- <style>
        .circle {
            width: 250px;
            height: 250px;
            border-radius: 50%;
        }
    </style> -->
    
</head>
<body>

    <div id="app">

        <p v-if="errors" class="mt-2" style="text-align: center">{{ errors }}</p>

        <div class="row justify-content-center mt-3">
            <div class="col-10">
            <!-- <div class="col-5">
            <p>Write a message!</p>
            <textarea class="form-control" v-model="text" placehoder="write something!"cols="30" rows="10"></textarea> -->
            <form @submit.prevent="onSubmit">
                <div class="form-group">
                    <label for="commentText">Publish a comment</label>
                    <textarea class="form-control" v-model="comment" id="commentText" cols="80" rows="5"></textarea>
                </div>
                <button class="btn btn-sm btn-primary" type="submit">Publish</button>
            </form>
        </div>
        </div>

        <div class="row justify-content-center mt-3">
            <div class="col-10">
            <div class="card mt-1" v-for="comment in comments">
                <div class="card-body">
                    {{ comment }}
                </div>
            </div>
        </div>
    </div>
        <!-- <div class="col-5">
            <p>Message</p>
            <p>{{ text }}</p>
        </div> -->
    </div>

    <!-- <div class="row justify-content-center mt-3">
        <input type="checkbox" id="checkbox" v-model="checked">
        <label for="checkbox">{{ checked }} </label>
    </div>

    <div class="row justify-content-center mt-3">
        <select v-model="city">
            <option>Rome</option>
            <option>New York</option>
            <option>Shenzen</option>
            <option>London</option>
            <option>Mumbai</option>
        </select>
        <span>&nbsp;&nbsp;City: {{ city }}</span>
    </div> -->

        <!-- <div class="row justify-content-center mt-3">
            <input type="text" v-model="color">
        </div>

        <div class="row justify-content-center mt-3">
            <p>Color Data: {{ color }}</p>
        </div> -->
        <!-- <div class="row justify-content-center mt-3">
            <button class="btn btn-success" @click="changeShape">Change Shape</button>
        </div> -->
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="main.js"></script>
</body>
</html>